body {
    background-color: green;
    color: white;
    text-align: center;
    
}

h1 {
    color: goldenrod
}

 #message-el {
font-style:italic
 }

 button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border: none;
    padding: 5px 8px;
    font-weight: bold;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
 }